<div class="maindiv2">
  <div class="profile-container" *ngFor="let data of data">
    <div class="profile-picture">
      <img src="path/to/profile-picture.jpg" />
    </div>

    <div class="profile-details">
      <div class="profile-name">
        <p>{{ data.name }} {{ data.surname }}</p>
      </div>

      <div class="profile-info">
        <p><strong>Hobby:</strong> {{ data.hoby }}</p>
        <p><strong>About Yourself:</strong> {{ data.aboutYourself }}</p>
      </div>
    </div>
    <div class="btn">
      <button class="delete" (click)="deleteUser(data.userId)">Delete</button>
      <button class="edit" (click)="editUser()">Edit User</button>
    </div>
  </div>
</div>
