<div class="mainDiv" *ngIf="!exist">
  <p>Welcome : {{ namee ? namee : name }}</p>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required />
      <span
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
      >
        Add name!
      </span>
    </div>

    <div class="form-group">
      <label for="surrname">Surrname:</label>
      <input type="text" id="surrname" formControlName="surrname" required />
      <span
        *ngIf="
          userForm.get('surrname')?.invalid && userForm.get('surrname')?.touched
        "
      >
        Add surrname!
      </span>
    </div>

    <div class="form-group">
      <label for="hobby">Hobby:</label>
      <input type="text" id="hobby" formControlName="hobby" />
    </div>

    <div class="form-group">
      <label for="ayourself">About yourself:</label>
      <textarea id="ayourself" formControlName="ayourself" required></textarea>
      <span
        *ngIf="
          userForm.get('ayourself')?.invalid &&
          userForm.get('ayourself')?.touched
        "
      >
        Add something about yourself!
      </span>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>
<div class="maindiv2" *ngIf="exist">
  <div class="profile-container" *ngFor="let data of data">
    <div class="profile-picture">
      <img src="path/to/profile-picture.jpg" />
    </div>

    <div class="profile-details">
      <div class="profile-name">
        <p>{{ data.name }} {{ data.surname }}</p>
      </div>

      <div class="profile-info">
        <p><strong>Hobby:</strong> {{ data.hoby }}</p>
        <p><strong>About Yourself:</strong> {{ data.aboutYourself }}</p>
      </div>
    </div>
    <div class="btn">
      <button class="delete" (click)="deleteUser()">Delete</button>
      <button class="edit" (click)="editUser()">Edit User</button>
    </div>
  </div>
</div>
